asgiref==3.7.2
Django==4.2.11
psycopg2_binary==2.9.9
djangorestframework==3.14.0
django-filter==24.1
python-decouple==3.8
pytz==2024.1
sqlparse==0.4.4
typing_extensions==4.10.0
django-cors-headers==4.3.1
scipy==1.12.0
pandas==2.2.1
python-dateutil>=2.8.2
Pillow==10.2.0