.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}

.logo {
  margin-bottom: 20px;
  font-weight: 900;
}

.auth-form {
  width: 100%;
  font-weight: 900;
}
