.add-user-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

label,
input,
button {
  width: 100%;
}

.add-user-button {
  margin: 2px;
  padding: 5px;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.required {
  color: red;
  margin-left: 4px;
  align-self: center;
}

.email-input,
.fname-input,
.lname-input,
.submit-button,
.dob-input,
.gender-input {
  width: 90%;
}

.user-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.user-form label {
  display: block;
  margin-bottom: 8px;
}

.name-row,
.birth-gender-row {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 8px;
}

.user-form input[type='email'],
.user-form input[type='text'],
.user-form input[type='date'],
.user-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 12px;
}

.user-form input[type='email']:focus,
.user-form input[type='text']:focus,
.user-form input[type='date']:focus,
.user-form select:focus {
  outline: none;
  border-color: #007bff;
}

.submit-button {
  text-align: center;
}

.submit-button button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-button button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
}
