.graph-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  background-color: var(--background);
  padding: 40px;
}

.graph-header-text {
  font-size: var(--header-size);
  color: var(--foreground);
  font-family: var(--font-family);
  text-align: center;
}
