.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  background-color: var(--background);
  padding: 40px;
}

.header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.header-text {
  margin: 0;
  font-size: var(--header-size);
  color: var(--foreground);
  font-family: var(--font-family);
  text-align: center;
}

.connect-text {
  margin: 0;
  font-size: var(--subheader-size);
  color: var(--foreground);
  font-family: var(--font-family);
  text-align: center;
}

/* Foot svg */
.foot-div {
  position: relative;
}

.sensor-container {
  width: 40px;
  height: 54px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 10px;
}

.timestamp {
  width: fit-content;
  font-size: 20px;
  color: var(--foreground);
  font-family: var(--font-family);
  text-align: center;
}

.sensor-circle {
  display: inline-flex;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.sensor-left-5,
.sensor-right-5 {
  top: 33.5%;
}

.sensor-left-1,
.sensor-right-1 {
  top: 29%;
}

.sensor-left-0,
.sensor-right-0 {
  top: 33%;
}

.sensor-left-4,
.sensor-right-4 {
  top: 55%;
}

.sensor-left-2,
.sensor-right-2 {
  top: 76%;
}

.sensor-left-3,
.sensor-right-3 {
  top: 68%;
}

.sensor-left-5 {
  left: 20%;
}

.sensor-left-1 {
  left: 34.4%;
}

.sensor-left-0 {
  left: 52%;
}

.sensor-left-4 {
  left: 40%;
}

.sensor-left-2 {
  left: 36%;
}

.sensor-left-3 {
  left: 44%;
}

.next-div a {
  color: var(--foreground);
  font-family: var(--font-family);
  font-size: var(--subheader-size);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 10px;
}

.next-div a:hover {
  color: var(--highlight);
  background-color: rgb(163, 163, 163);
}
