.container {
  display: grid;
  grid-template-columns: 400px auto;
  height: 100vh;
}

.grid-left {
  background-color: #f0f0f0;
  padding: 1rem;
  grid-column: 1 / 2;
}

.username {
  text-transform: capitalize;
}

.content {
  grid-column: 2 / 3;
  padding: 1rem;
}

@media screen and (max-width: 1400px) {
  .container {
    grid-template-columns: 300px auto;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 250px auto;
  }
}
