.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}

.logo {
  margin-bottom: 20px;
}

.registration-form {
  width: 100%;
}
