.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-screen > .foot-div > svg {
  transform: rotate(90deg);
}

.loading-screen > .left-foot {
  animation: left-foot-animation infinite linear;
}

.loading-screen > .right-foot {
  animation: right-foot-animation infinite linear;
}

.loading-screen > .foot-div {
  animation-duration: 7s;
}

@keyframes left-foot-animation {
  0% {
    transform: translate(-25.8px, -3.4px) rotate(15deg);
  }
  4.17% {
    transform: translate(25.8px, -3.4px) rotate(-15deg);
  }
  8.33% {
    transform: translate(25.8px, -3.4px) rotate(-15deg);
  }
  12.5% {
    transform: translate(calc(sin(45deg) * 100px), -29.3px) rotate(-45deg);
  }
  16.67% {
    transform: translate(70.7px, -29.3px) rotate(-45deg);
  }
  20.83% {
    transform: translate(96.6px, -74.1px) rotate(-75deg);
  }
  25% {
    transform: translate(96.6px, -74.1px) rotate(-75deg);
  }
  29.17% {
    transform: translate(96.6px, -125.9px) rotate(-105deg);
  }
  33.33% {
    transform: translate(96.6px, -125.9px) rotate(-105deg);
  }
  37.5% {
    transform: translate(70.7px, -170.7px) rotate(-135deg);
  }
  41.67% {
    transform: translate(70.7px, -170.7px) rotate(-135deg);
  }
  45.83% {
    transform: translate(25.8px, -196.6px) rotate(-165deg);
  }
  50% {
    transform: translate(25.8px, -196.6px) rotate(-165deg);
  }
  54.17% {
    transform: translate(-25.8px, -196.6px) rotate(-195deg);
  }
  58.33% {
    transform: translate(-25.8px, -196.6px) rotate(-195deg);
  }
  62.5% {
    transform: translate(-70.7px, -170.7px) rotate(-225deg);
  }
  66.67% {
    transform: translate(-70.7px, -170.7px) rotate(-225deg);
  }
  70.83% {
    transform: translate(-96.6px, -125.9px) rotate(-255deg);
  }
  75% {
    transform: translate(-96.6px, -125.9px) rotate(-255deg);
  }
  79.17% {
    transform: translate(-96.6px, -74.1px) rotate(-285deg);
  }
  83.33% {
    transform: translate(-96.6px, -74.1px) rotate(-285deg);
  }
  87.5% {
    transform: translate(-70.7px, -29.3px) rotate(-315deg);
  }
  91.67% {
    transform: translate(-70.7px, -29.3px) rotate(-315deg);
  }
  95.83% {
    transform: translate(-25.8px, -3.4px) rotate(-345deg);
  }
  100% {
    transform: translate(-25.8px, -3.4px) rotate(-345deg);
  }
}

@keyframes right-foot-animation {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  4.17% {
    transform: translate(0, 0) rotate(0deg);
  }
  8.33% {
    transform: translate(75px, -21px) rotate(-30deg);
  }
  12.5% {
    transform: translate(75px, -21px) rotate(-30deg);
  }
  16.67% {
    transform: translate(129px, -75px) rotate(-60deg);
  }
  20.83% {
    transform: translate(129px, -75px) rotate(-60deg);
  }
  25% {
    transform: translate(150px, -150px) rotate(-90deg);
  }
  29.17% {
    transform: translate(150px, -150px) rotate(-90deg);
  }
  33.33% {
    transform: translate(129px, -225px) rotate(-120deg);
  }
  37.5% {
    transform: translate(129px, -225px) rotate(-120deg);
  }
  41.67% {
    transform: translate(75px, -280px) rotate(-150deg);
  }
  45.83% {
    transform: translate(75px, -280px) rotate(-150deg);
  }
  50% {
    transform: translate(0, -300px) rotate(-180deg);
  }
  54.17% {
    transform: translate(0, -300px) rotate(-180deg);
  }
  58.33% {
    transform: translate(-75px, -280px) rotate(-210deg);
  }
  62.5% {
    transform: translate(-75px, -280px) rotate(-210deg);
  }
  66.67% {
    transform: translate(-129px, -225px) rotate(-240deg);
  }
  70.83% {
    transform: translate(-129px, -225px) rotate(-240deg);
  }
  75% {
    transform: translate(-150px, -150px) rotate(-270deg);
  }
  79.17% {
    transform: translate(-150px, -150px) rotate(-270deg);
  }
  83.33% {
    transform: translate(-129px, -75px) rotate(-300deg);
  }
  87.5% {
    transform: translate(-129px, -75px) rotate(-300deg);
  }
  91.67% {
    transform: translate(-75px, -21px) rotate(-330deg);
  }
  95.83% {
    transform: translate(-75px, -21px) rotate(-330deg);
  }
  100% {
    transform: translate(0, 0) rotate(-360deg);
  }
}

/* Loading text */
.loading-text {
  font-size: var(--header-size);
  color: var(--foreground);
  font-family: var(--font-family);
  text-align: center;
}
