.select-user-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
}

.header-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.add-user-link {
  text-decoration: none;
  color: var(--accent);
  font-family: var(--font-family-kaku);
  font-size: var(--font-size-subheadline);
  font-weight: var(--font-weight-headline);
}
